body {
  min-height: 100vh;
  min-width: 100vw;
}

#navbar {
  position: sticky;
  z-index: 2000;
  top: 0;
  overflow: hidden;
}

#carousel-wrapper {
  width: 50vw;
}

.icon {
  width: 1em;
  height: 1em;
}

/* Media Queries */
@media screen and (min-width: 480px) {
}
