main {
  min-height: 100vh;
  min-width: 100vw;
}

#navbar {
  position: sticky;
  z-index: 2000;
  top: 0;
  overflow: hidden;
}

#carousel-wrapper {
  width: 50vw;
}

.icon {
  width: 1em;
  height: 1em;
}

/* For socials.html */
.social-card {
  position: relative;
}
.social-card-container {
  position: relative;
  top: 50%; /** relative to other reference point **/
  left: 50%; /** relative to other reference point **/
  transform: translate(-50%, -50%); /** relative to itself **/
}
/* Media Queries */

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
